<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Nuevo autor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    </head>
    <body>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/}">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/autor/lista}">Listado</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/autor/nuevo}">Nuevo</a>
            </li>
            
        </ul>
        
        <h1 class="display-4">Cargar nuevo autor</h1>
        <div>
            <div th:if="${exito}!=null" class="alert alert-primary" role="alert">
                <p th:text="${exito}"></p>
            </div>
            <div th:if="${error}!=null" class="alert alert-danger" role="alert">
                <p th:text="${error}"></p>
            </div>
       </div>
        
        

        <form th:action="@{/autor/nuevo}" method="POST">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" name="nombre" placeholder="Nombre autor">
                    <br>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-primary">Guardar</button>
           
            </br>

        </form>

       





        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script> 
    </body>
</html>
